* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body > button {
    font-weight: bold;
}

table {
    margin:50px auto;
    text-align: left;  
    width: 50vw; 
}

table, th, td {
    border:solid lightgray 2px;
    border-collapse: collapse;  
    padding: 5px;

    font-weight: bold;
}

th {
    background-color: rgb(187, 183, 183);
}

td > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

tbody > :nth-child(odd){ 
    background-color: #e6deded8;
}

div > button  {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 27%;
    height: 25px;
    border: 0px;
    border-radius: 5px;

    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.read {
  background-color: rgb(0, 162, 255);  
}

.update {
    background-color: rgb(245, 192, 79);
}

.delete {
    background-color: rgb(255, 136, 0);
}

dialog {
    position: relative;
    min-width: 50vw;
}

.x-btn {
    position:absolute;
    top:0;
    right:0;
    width: 2em;
    font-size: 1em;
}

